body{
    margin: 0; 
    font-family: sans-serif; 
    background-color: lightgoldenrodyellow;

    background-image: url('https://media.istockphoto.com/id/1401497427/photo/multiracial-team-at-work-writing-ideas-on-sticky-notes-on-the-glass-wall.jpg?s=612x612&w=0&k=20&c=hf6SKEBqll6l0nepGMlC7FlyNMdc57hW9cDqSfKzhFE='); 
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    margin: 0; 
    height: 80vh;
}

.content {
    margin: 0 auto;
    width: 400px;
}

h1 {
    margin-top: 50px;
    background-color: lightyellow;
    width: fit-content;
    margin-left: 540px;
}

h4 {
    margin-top: 50px;
    background-color: lightyellow;
    width: fit-content;
    margin-left: 450px;
}

table, td, th {
    border: 1px solid #aaa;
    margin-top: 60px;
}

table {
    border-collapse: collapse;
    margin-left: 340px;
    background-color: lightyellow;
    width: 50%;
}

th {
    height: 30px;
    color: white;
    background-color: lightseagreen;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: lightyellow; 
    color: black;  
    border: none; 
    padding: 10px 20px; 
    text-align: center;  
    text-decoration: none;  
    display: inline-block; 
    font-size: 16px;  
    cursor: pointer;  
    border-radius: 5px;  
}

input[type="submit"]:hover {
    background-color: lightseagreen; 
    color: white;
}

#content {
    margin-left: 300px;
    margin-top: 30px;
    width: 50%;
}
