{% extends 'base.html' %}

{% block head %}

<title>Task Manager</title>

{% endblock %}

{% block body %}
<h1 style="text-align: center;">✍️Task Manager📋</h1>

<!-- If there are no entries, prompt user to create new tasks -->
{% if tasks|length < 1 %} 

<h4 style="text-align: center;">There are no tasks at the moment. Get started by adding one below!</h4>

{% else %}

<table>
    <tr>
        <th>Task to be Done</th>
        <th>Date Added</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
</table>
{% endif %}

<div class="form">
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>

{% endblock %}
